<div class="container row">
  <%= form_for(@game.users.last, url: game_path(@game.id, user_action: :bet)) do |f| %>
    <%= f.label :current_bet %>
    <%= f.text_field :current_bet %>
    <%= f.submit "Submit"%>
  <% end %>
</div>
