<br><br><br><br>
<div class="container row">
  <div class="slider">
    <ul class="slides">
      <li>
        <%= image_tag("Aces.jpg") %>
      </li>
      <li>
        <%= image_tag("felt_and_chips.jpg") %>
      </li>
      <li>
        <%= image_tag("chips.jpg") %>
      </li>
    </ul>
  </div>
</div>
