<br><br><br><br>
<div class="slider">
    <ul class="slides">
      <li>
        <img src="https://dpc1.ftcdn.net/jpg/00/86/14/96/500_F_86149644_E8bq4lhfw33WutJrVOgI71C6TtBWG8LK.jpg", class="background-image"> 
      </li>
      <li>
        <img src="https://dpc2.ftcdn.net/jpg/00/82/03/57/500_F_82035700_VuH3Q25hAa89Es5fMYn777Ho5E0ZTX9o.jpg", class="background-image"> 
      </li>
      <li>
        <img src="https://dpc2.ftcdn.net/jpg/00/93/89/17/500_F_93891704_AJ55QNyaRC52a1NBrPbJ3r4nQRZPvANw.jpg", class="background-image"> 
      </li>
    </ul>
  </div>
