header {
  background-image: url('https://dpc1.ftcdn.net/jpg/00/96/30/00/500_F_96300063_vloPQXo5YQWnXadXbOUqI3jbA7g0p7la.jpg');
}

.game-stats {
  color: white; text-shadow: black 0.1em 0.1em 0.2em;
  padding: 10px;
  font-size: 30px;
  width: 45%;
  margin: auto;
}

h3 {
  text-align: center;
  color: #6DBA9C;
}

h5 {
  text-align: center;
  color: #6DBA9C;
}

.player-stats {
  text-align: left;
  color: #6DBA9C; text-shadow: black 0.1em 0.1em 0.2em;
  float: left;
  margin-bottom: 45px;
  padding-right: 5%;
  margin-left: 5%;
}

.player-stats li {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
}

.user-stats {
  width: 100%;
  clear: both;
  color: #F7A0A0; text-shadow: black 0.1em 0.1em 0.2em;
  margin-left: 5%;
}
// #F94A00
// #DA151F

.user-stats p {
  font-size: 30px;
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5%;
}

.ai-actions {
  font-size: 30px;
  color: #F7A0A0; text-shadow: black 0.1em 0.1em 0.2em;
  text-align: center;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.winner {
  background-color: black;
  color: #F7A0A0;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

.winner h5 {
  color: #F7A0A0;
}

.winner h3 {
  color: #F7A0A0;
}

.intro {
  color: black;
}
